<div class="relative bg-white flex flex-col min-w-0 break-words  rounded-lg mb-6 xl:mb-0 shadow-md  backdrop-blur-sm -mt-10">
    <div class="flex-auto p-4 ">
      <div class="flex flex-wrap">
        <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
          <h5 class="text-blueGray-400  font-bold text-xs">{{titulo}}</h5><span class="font-bold text-xl">{{valor}}</span></div>
      <div class="relative w-auto pl-4 flex-initial">
      <div class="text-white  text-center inline-flex items-center justify-center w-12 h-12  rounded-full ">
        <img [src]="img" alt="">
      </div>
    </div>
  </div>
  </div>
</div>